html, body {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 1.2em;
  text-align: center;
}

fieldset {
  margin: auto;
  max-width: 520px;
  border-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

fieldset legend {
  font-weight: bold;
  opacity: .75;
}

#contact label,
#contact input,
#contact textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: .75em;
}
